SECRET_KEY = ''
DEBUG = True
STATIC_URL = '/static/'
MEDIA_URL = '/media/'
#POSTGRES
DBNAME="your name database"
DBUSER="your name database user"
DBPASSWORD="your name database password"
DBHOST="localhost" # default
DBPORT=5432 #default